@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.acc-page-body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/login_page_bg.jpg");
}

.acc-form {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    padding: 50px;
    border-radius: 10px;
    width: 350px;
    color: aliceblue;
}

.acc-form h4 {
    color: rgb(193, 193, 193);
}

.fp {
    cursor: pointer;
}

.form-input {
   font-weight: bold;
   font-size: 1.25rem; 
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   margin-bottom: 10px;
}

.form-input input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    font-weight: bold;

}

.form-input input::placeholder {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    font-weight: bold;
}

.form-input input:focus {
    outline: none;
}

.input-fields-container-acc-page {
    width: 100%;
    align-self: flex-start;
}

.acc-page-submit-btn {
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    font-weight: bolder;
    background-color: white;
    color: rgb(32, 108, 101);
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.acc-page-submit-btn:hover {
    background-color: rgb(32, 108, 101);
    color: white;
    transition: 0.3s ease-in-out;
}

.nam-reg {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.name-details-reg {
    display: flex;
    justify-content: space-between;
}

.name-details-reg label {
    width: 45%;
}

.email-text {
    font-weight: bold;
    margin-bottom: -5px;
    font-size: 16px;
}

.register-input-field input {
    width: 93%;
}

.register-input-field {
    position: relative;
}

.register-input-field span {
    color: green;
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 1.5rem;
}

input:not(:placeholder-shown) {
    background-color: white;
    color: black;
}